<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="TentData" connectionString="data source=192.168.1.107;initial catalog=TentConrol;Uid=sa;Pwd=shadow111;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TentData2" connectionString="data source=192.168.1.107;initial catalog=TentConrol;Uid=sa;Pwd=shadow111;" providerName="System.Data.SqlClient" />
  <add name="TentMonitorDesk2021.Properties.Settings.TentConrolConnectionString" connectionString="Data Source=192.168.1.107;Initial Catalog=TentConrol;Persist Security Info=True;User ID=sa;Password=shadow111" providerName="System.Data.SqlClient" />
 	</connectionStrings>
</configuration>